/**
 * @file generic-component.component.scss
 * @description 
 * @author Neha Mishra
 * @copyright copyright by winjit
 */

.data {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.line {
    font-size: 1.2rem;
}
