/**
 * @file app.component.scss
 * @description 
 * @author Neha Mishra
 * @copyright copyright by winjit
 */

 .head {
    margin: 6rem;
    align-items: center;
    justify-content: center;
    color: brown;
    /* flex-direction: row-reverse; */
    padding-left: -27rem;
    display: flex;
 }